* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  border: 1px solid orange;
}

body * {
  border: 1px solid orange;
}

header {
  padding: 10px 0px;
  margin: 3px;
}

header p {
  border: none;
  font-size: medium;
  font-weight: 300;
}

aside {
  padding: 10px 0px;
  margin: 10px 3px;
}

aside p {
  border: none;
  font-size: medium;
  font-weight: 300;
}

main {
  display: flex;
  justify-content: space-between;
  border: none;
}

main img {
  width: 100%;
  border: none;
  padding: -2px;
}

.imgs {
  width: 20vw;
  display: block;
}

#leftDiv {
  margin-left: 2vw;
}

#rightDiv {
  margin-right: 1vw;
}

.imgs .hide {
  border: none;
  width: 75%;
  margin-bottom: 6px;
  color: white;
  background-color: rgb(87, 87, 194);
}

.buttons {
  display: flex;
  justify-content: space-between;
  border: none;
  margin-top: 9px;
  margin-bottom: 20px;
}

.buttons button {
  width: 15vh;
  height: 40px;
  background-color: white;
  font-weight: 600;
}

#buttonLeft {
  margin-left: 8vw;
}

#buttonRight {
  margin-right: 7vw;
}
